<nav class="navbar navbar-expand-lg container-xxl">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="44" height="34" alt="logo-img">
        </a>

        <div class="navbar-nav me-auto">
            <a href="/" class="nav-link">Home</a>
            <a href="/news" class="nav-link">News</a>
            <a href="/tutorials" class="nav-link">Tutorials</a>
        </div>
        
        <form class="d-flex me-2" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="/login" class="btn btn-primary">Sign In</a>
    </div>
</nav>